<%- include('./partials/header') %>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <div class = "Account">
        <div class="field">
            <p>Username</p>
            <span id="username">JohnDoe123</span>
        </div>
        <div class="field">
            <p>Password</p>
            <span id="password">test</span>
        </div>
        <div class="field">
            <p>Email</p>
            <span id="email">johndoe@example.com</span>
        </div>
        <div class="field">
            <p>Biography</p>
            <span id="biography">I love playing Social Circles! and I am majroing in cs and business</span>
        </div>
        <div class="field">
            <p>Total Score</p>
            <span id="totalScore">1200</span>
        </div>
        <div class="field">
            <p>High Score</p>
            <span id="highScore">300</span>
        </div>
    </div>
</body>