<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <header>
        <h1>Characters</h1>
    </header>
    <a href="/accountinfo">Account Info</a>
    <div class="characters-container">
        <h1>Characters</h1>
        <div class="characters-list">
            <div class="character-card">
                <img src="/images/character1.png" alt="Character 1">
                <h2>Character 1</h2>
                <p>Description of Character 1.</p>
            </div>
            <div class="character-card">
                <img src="/images/character2.png" alt="Character 2">
                <h2>Character 2</h2>
                <p>Description of Character 2.</p>
            </div>
            <div class="character-card">
                <img src="/images/character3.png" alt="Character 3">
                <h2>Character 3</h2>
                <p>Description of Character 3.</p>
            </div>
            <div class="character-card">
                <img src="/images/character4.png" alt="Character 4">
                <h2>Character 4</h2>
                <p>Description of Character 4.</p>
            </div>
        </div>
</div>
    