
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Leaderboard</title>
</head>

<body>
    <header>
        <h1>Leaderboard</h1>
    </header>
    
    <div class="leaderboard-container">
        <h1>Leaderboard</h1>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>High Score</th>
                </tr>
            </thead>
            <tbody>
                <% players.forEach((player, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= player.username %></td>
                        <td><%= player.highScore %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <a href ="/accountinfo">profile</a>
</body>
</html>
