
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Account Information</h1>
    </header>
    <div class="stuff">
        <div class="login">
            <% if (typeof error !== 'undefined') { %>
                <% if (error === 'invalid') { %>
                    <div class="error-message">Invalid username or password</div>
                <% } else if (error) { %>
                    <div class="error-message"><%= error %></div>
                <% } %>
            <% } %>
            
            <% if (typeof success !== 'undefined' && success) { %>
                <div class="success-message"><%= success %></div>
            <% } %>
            
            <form action="/login" method="POST">
                <div class="forms">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="forms">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <div style="text-align: center;">
                    <button type="submit">Login</button>
                </div>
            </form>
            
            <div class="login-link">
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
        </div>  
    
</body>
</html>